{% extends 'base.html' %}

{% block content %}

<div class="app-container-60 register">


    <form id="payment-form">
        <div class="card">
            <div class="card-body">
                <div id="card-element">
                    <!-- Stripe Elements will be mounted here -->
                </div>

                <div id="card-errors" role="alert">
                    <!-- Any Stripe Elements error messages will be mounted here -->
                </div>
            </div>

            <!-- FORM SUBMISSION -->
            <button class="card-btn" type="submit">Pay Now</button>
        </div>
    </form>

    <!-- LOADING STATE -->
    <div id="loading" class="card card-centered hide">
        <div class="card-body">
            <div>
                <div class="loader"></div>
            </div>

            <h3 class="header-blue">Processing <br> your payment...</h3>
            <p class="helper-text">Please wait a few minutes!</p>
        </div>
    </div>

    <!-- SUCCESS STATE -->
    <div id="success" class="card card-centered hide">
        <div class="card-body">
            <i class="success-icon fas fa-check-circle"></i>
            <h3 class="header-blue">
                Already change credit card!
            </h3>
            <p class="helper-text">
                Log in to the app to start creating your first survey!
            </p>
        </div>

        <a href="/" class="card-btn">
            Log In
        </a>
    </div>

    <!-- ERROR STATE -->
    <div id="error" class="card card-centered hide">
        <div class="card-body">
            <i class="error-icon fas fa-exclamation-circle"></i>
            <h3 class="header-red">
                Sorry, it looks like <br> something went wrong
            </h3>
            <p class="helper-text">
                Please contact us or try again.
            </p>
        </div>

        <a href="/" class="card-btn">
            Contact Us
        </a>
    </div>

</div>

<!-- ADD JAVASCRIPT: between "script" tags -->
<script>
    var stripe = Stripe('pk_test_51L7aelJDn5tTmyIhB0WNdG7ZDKoxFSUzmW4Uh42Bx7DslqyPRTBFcmMySEJt9TQVPb8BlBpCwFiM9LprnacpKPrj00ykPuGPoY');

    /* To use certain web fonts, load in source */
    var elements = stripe.elements({
        fonts: [
            {
                cssSrc: 'https://fonts.googleapis.com/css?family=Mukta:400,600,700&display=swap',
            }
        ],
    });

    /* Set up styles for your Stripe Elements instance --
     * To make it match your site's design
     */
    var elementsStyles = {
        base: {
            color: "#004ABB",
            iconColor: "#004ABB",
            fontFamily: "'Mukta', Helvetica, sans-serif",
            fontWeight: "600",
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
                color: "#6099EE",
                textTransform: "uppercase",
            },
        },
        invalid: {
            color: "#ff5252",
            iconColor: "#ff5252",
        },
    };


    /* HELPER FUNCTIONS */

    /* Display error within "#card-errors" div */
    function displayError(error) {
        var cardError = document.getElementById('card-errors');
        cardError.textContent = error ? error.message : '';
    }

    /* Show element specified by the "id" parameter
     * Hide all other "states"
     */
    function showState(id) {
        document.getElementById('payment-form').classList.add('hide');
        document.getElementById('loading').classList.add('hide');
        document.getElementById('success').classList.add('hide');
        document.getElementById('error').classList.add('hide');

        document.getElementById(id).classList.remove('hide');
    }


    /* MORE STRIPE ELEMENTS ACTIONS */
    let setupIntent
    fetch('/setupIntent', {
        method: 'post',
        headers: { 'Content-Type': 'application/json' }
    }).then((response) => {
        /* Can only call response.json() once, otherwise you will get an error */
        return response.json();
    }).then((parsedResponse) => {
        /* Proceed to next step of checking Payment Intent status */
        console.log('parsedResponse.setupIntent =>', parsedResponse)
        setupIntent = parsedResponse.setupIntent
    }).catch((err) => {
        console.error('Error creating setupIntent:', err);
        showState('error'); // Show error state
    });


    /* Create "card" instance of Stripe Elements and mount it to "#card-element" div */
    var cardElement = elements.create("card", { style: elementsStyles });
    cardElement.mount("#card-element");

    /* Set up event listeners on card */
    cardElement.addEventListener('change', ({ error }) => {
        displayError(error);
    });

    /* FORM SUBMISSION */
    var form = document.getElementById('payment-form');

    form.addEventListener('submit', (event) => {
        event.preventDefault(); // Prevent the default form submission
        stripe.confirmCardSetup(
            setupIntent.client_secret,
            {
                payment_method: {
                    card: cardElement,
                    // billing_details: {
                    //     name: cardholderName.value,
                    // },
                },
            }
        ).then(function (result) {
            if (result.error) {
                // Display error.message in your UI.
                displayError(result.error)
                console.error('Error confirmCardSetup: ', result.error);
            } else {
                // The setup has succeeded. Display a success message.
                console.log('result.setupIntent =>', result.setupIntent)
                changeDefaultPaymentMethod(result.setupIntent);

            }
        });
    });


    function changeDefaultPaymentMethod(setupIntent) {
        /* Do NOT share or embed your client_secret anywhere */
        const { payment_method } = setupIntent;

        fetch('/changeDefaultPaymentMethod', {
            method: 'post',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                paymentMethodId: payment_method,
            }),
        }).then((response) => {
            /* Can only call response.json() once, otherwise you will get an error */
            return response.json();
        }).then((parsedResponse) => {
            /* Proceed to next step of checking Payment Intent status */
            console.log('parsedResponse.customer =>', parsedResponse.customer)
            const customer = parsedResponse.customer
            showState('success'); // Show success state
        }).catch((err) => {
            console.error('Error changeDefaultPaymentMethod:', err);
            showState('error'); // Show error state
        });

    }

</script>

{% endblock %}