{% extends 'base.html' %}

{% block content %}

<div class="app-container-60 register">
    <h3 class="header-uppercase header-white header-margin-bottom">
        {{ productName }}
    </h3>

    <form id="payment-form">
        <div class="card">
            <div class="card-body">

                <div class="card-title">
                    <h4 class="header-uppercase header-blue">
                        {{ plan.nickname }}
                    </h4>
                    <h2 class="price">{{ plan.amount }}
                        <span>
                            /
                            {% if (plan.interval_count > 1) %}
                            {{ plan.interval_count }} {{ plan.interval }}s

                            {% else %}
                            {{ plan.interval }}
                            {% endif %}
                        </span>
                    </h2>
                </div>

                <!-- INPUTS -->
                <input id="plan" type="hidden" value="{{ plan.formatted }}" name="plan" />
                <input id="customerName" name="name" required="true" placeholder="Name" />
                <input id="customerEmail" name="email" type="email" required="true" placeholder="Email" />

                <div id="card-element">
                    <!-- Stripe Elements will be mounted here -->
                </div>

                <div id="card-errors" role="alert">
                    <!-- Any Stripe Elements error messages will be mounted here -->
                </div>
            </div>

            <!-- FORM SUBMISSION -->
            <button class="card-btn" type="submit">Pay Now</button>
        </div>
    </form>

    <!-- LOADING STATE -->
    <div id="loading" class="card card-centered hide">
        <div class="card-body">
            <div>
                <div class="loader"></div>
            </div>

            <h3 class="header-blue">Processing <br> your payment...</h3>
            <p class="helper-text">Please wait a few minutes!</p>
        </div>
    </div>

    <!-- SUCCESS STATE -->
    <div id="success" class="card card-centered hide">
        <div class="card-body">
            <i class="success-icon fas fa-check-circle"></i>
            <h3 class="header-blue">
                Congrats, you've <br> successfully registered!
            </h3>
            <p class="helper-text">
                Log in to the app to start creating your first survey!
            </p>
        </div>

        <a href="/" class="card-btn">
            Log In
        </a>
    </div>

    <!-- ERROR STATE -->
    <div id="error" class="card card-centered hide">
        <div class="card-body">
            <i class="error-icon fas fa-exclamation-circle"></i>
            <h3 class="header-red">
                Sorry, it looks like <br> something went wrong
            </h3>
            <p class="helper-text">
                Please contact us or try again.
            </p>
        </div>

        <a href="/" class="card-btn">
            Contact Us
        </a>
    </div>

</div>

<!-- ADD JAVASCRIPT: between "script" tags -->
<script>
    var stripe = Stripe('pk_test_51L7aelJDn5tTmyIhB0WNdG7ZDKoxFSUzmW4Uh42Bx7DslqyPRTBFcmMySEJt9TQVPb8BlBpCwFiM9LprnacpKPrj00ykPuGPoY');
    
    /* To use certain web fonts, load in source */
    var elements = stripe.elements({
        fonts: [
            {
                cssSrc: 'https://fonts.googleapis.com/css?family=Mukta:400,600,700&display=swap',
            }
        ],
    });

    /* Set up styles for your Stripe Elements instance --
     * To make it match your site's design
     */
    var elementsStyles = {
        base: {
            color: "#004ABB",
            iconColor: "#004ABB",
            fontFamily: "'Mukta', Helvetica, sans-serif",
            fontWeight: "600",
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
                color: "#6099EE",
                textTransform: "uppercase",
            },
        },
        invalid: {
            color: "#ff5252",
            iconColor: "#ff5252",
        },
    };


    /* HELPER FUNCTIONS */

    /* Display error within "#card-errors" div */
    function displayError(error) {
        var cardError = document.getElementById('card-errors');
        cardError.textContent = error ? error.message : '';
    }

    /* Show element specified by the "id" parameter
     * Hide all other "states"
     */
    function showState(id) {
        document.getElementById('payment-form').classList.add('hide');
        document.getElementById('loading').classList.add('hide');
        document.getElementById('success').classList.add('hide');
        document.getElementById('error').classList.add('hide');

        document.getElementById(id).classList.remove('hide');
    }


    /* MORE STRIPE ELEMENTS ACTIONS */

    /* Create "card" instance of Stripe Elements and mount it to "#card-element" div */
    var cardElement = elements.create("card", { style: elementsStyles });
    cardElement.mount("#card-element");

    /* Set up event listeners on card */
    cardElement.addEventListener('change', ({ error }) => {
        displayError(error);
    });

</script>

{% endblock %}